In [3]:
import pickle 
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer

#Model Selection and Validation
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.metrics import confusion_matrix, classification_report,accuracy_score

In [5]:
df = pd.read_pickle('/content/combined_data_clean.pkl')

In [6]:
pipeline = Pipeline([
    ('bow',CountVectorizer()),  # strings to token integer counts
    ('tfidf', TfidfTransformer()),  # integer counts to weighted TF-IDF scores
    ('classifier', MultinomialNB()),  # train on TF-IDF vectors w/ Naive Bayes classifier
])

In [18]:
train = df.iloc[:7920,1:]
test = df.iloc[7920:,1:]

In [19]:
test.shape

(1953, 2)

In [20]:
msg_train, msg_test, label_train, label_test = train_test_split(train['tweet'], train['label'], test_size=0.1)
pipeline.fit(msg_train,label_train)
predictions = pipeline.predict(msg_test)
print(classification_report(predictions,label_test))
print(confusion_matrix(predictions,label_test))
print(accuracy_score(predictions,label_test))

              precision    recall  f1-score   support

         0.0       0.97      0.86      0.91       671
         1.0       0.52      0.83      0.64       121

    accuracy                           0.86       792
   macro avg       0.74      0.85      0.78       792
weighted avg       0.90      0.86      0.87       792

[[579  92]
 [ 20 101]]
0.8585858585858586

In [21]:
msg_test.shape

(792,)

In [22]:
predictions = pipeline.predict(test['tweet'])
# print(classification_report(predictions,label_test))
# print(confusion_matrix(predictions,label_test))
# print(accuracy_score(predictions,label_test))

In [23]:
predictions

array([1., 1., 1., ..., 1., 0., 0.])

In [12]:
submission=pd.read_csv("/content/sample_submission_LnhVWA4.csv")
submission['label']=predictions

In [14]:
pd.DataFrame(submission, columns=['id','label']).to_csv('sentiments_3.csv', index = False)

In [16]:
l = pd.read_csv('sentiments_3.csv')

In [17]:
l

        id  label
0     7921    1.0
1     7922    1.0
2     7923    0.0
3     7924    0.0
4     7925    0.0
...    ...    ...
1948  9869    0.0
1949  9870    0.0
1950  9871    1.0
1951  9872    0.0
1952  9873    0.0

[1953 rows x 2 columns]